*{margin:0;padding:0;}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    /*overflow: hidden;*/
}
body{
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
a{text-decoration: none}
.content{
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 200px;
    right: 0;
    top: 70px;
    bottom:0;
    width: auto;
    padding:40px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.crumbs{
    margin-bottom: 20px;
}
.pagination{
    margin: 20px 0;
    text-align: right;
}
.plugins-tips{
    padding:20px 10px;
    margin-bottom: 20px;
}
.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover{
    background: #f6faff;
}
.mgb20{
    margin-bottom: 20px;
}

.move-enter-active,.move-leave-active{
    transition: opacity .5s;
}
.move-enter,.move-leave{
    opacity: 0;
}
/*BaseForm*/
.form-box{
    width:600px;
}
.form-box .line{
    text-align: center;
}
.el-time-panel__content::after, .el-time-panel__content::before {
    margin-top: -7px;
}
/*Readme*/
.ms-doc .el-checkbox__input.is-disabled+.el-checkbox__label{
    color: #333;
    cursor: pointer;
}
/*Upload*/
.pure-button{
    width:150px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.g-core-image-corp-container .info-aside{
    height:45px;
}

/*VueEditor*/
.ql-container{
    min-height: 400px;
}
.ql-snow .ql-tooltip{
    transform: translateX(117.5px) translateY(10px) !important;
}
.editor-btn{
    margin-top: 20px;
}
/**************************/
.data_area{margin-top: 50px;}
.search_area{padding:15px;border:1px solid #ddd;border-radius: 5px;position: relative;}
.search_area .s_input{float: left;width:30%;margin: 10px 10px 0 0;}
.search_area .s_input label{width:70px;text-align:center;float: left;line-height: 30px;margin-right: 10px;}
.search_area .s_input .el-input{width:70%;float: left;}
.search_area .s_input .el-select{width: 70%;float: left;}
.detail table{width:100%;border:1px solid #ddd;border-collapse: collapse;margin: 20px 0;}
.detail table td{border:1px solid #ddd;padding:5px 7px;text-align: center;color:#666;}
.detail table .title{color:#333;width: 200px;background: #f5f5f5;}
.detail table img{width: 80px;height: 40px;margin:0 5px;}
.search_area .s_input .city_select .el-input {
    width: 100%;
    float: left;
}
.search_area .s_input .brand_select .el-input {
    width: 100%;
    float: left;
}

.formStyle .el-form-item{width: 45%;float: left; margin-right: 20px;}
.block{text-align: center;margin-top: 15px;}
.el-form-item.is-required .el-form-item__label:before {
    content: "*";
    color: #fa5555;
    margin-right: 4px;
    display: none;
}
/*.el-form-item.is-required .el-form-item__label:after {
    content: "*";
    color: #fa5555;
    margin-right: 4px;
}*/
.detail_dataTable{margin-top: 20px;}
.detail_dataTable .el-table{
    border: 0;
}
.detail_dataTable table{
    margin:0;
}
.detail_dataTable table th{
    border: 1px solid #ddd;
}
.overviewImg ul li{
    list-style: none;
    float: left
}
li{list-style:none;}
.overviewImg{margin:20px;}
.overviewImg ul li{float:left;margin-right:20px;}
.overviewImg ul li img{width:70px;cursor:pointer;}
.lb_wrap{display:none;}
.lightbox_bg{background:#000;filter:alpha(opacity=70);opacity:.7;position:absolute;left:0;top:0;width:100%;height:100%;z-index:22;}
.lightbox{position:absolute;left:0;top:50%;width:100%;z-index:33;text-align:center;}
.lightbox p{position:absolute;height:61px;width:38px;top:50%;left:0;z-index:33;background:transparent url(../img/themes.png) no-repeat left top;margin-top:-30.5px;cursor:pointer;}
.lightbox p.next{left:auto;background-position:right top;right:0;}
.custMg_registertime .el-date-editor--date{width: 39%!important;}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
}
.el-icon-plus:before {
    content: "\E61C";
    display: none
}
#editor ol li{}



.clear:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}